{% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}

<nav class="UnderlineNav UnderlineNav--left">
  <div class="UnderlineNav-body">
    {% if page.category == 'home' %}
    <a href="/maizeGRN/" class="UnderlineNav-item selected">
    {% else %}
    <a href="/maizeGRN/" class="UnderlineNav-item">
    {% endif %}
      <i class="fas fa-home fa-lg fa-fw"></i>Home
    </a>
    
    {% if page.category == 'about' %}
    <a href="/maizeGRN/about" class="UnderlineNav-item selected">
    {% else %}
    <a href="/maizeGRN/about" class="UnderlineNav-item">
    {% endif %}
      <i class="fas fa-user fa-lg fa-fw"></i>About
    </a>
    
    {% if page.category == 'download' %}
    <a href="/maizeGRN/download" class="UnderlineNav-item selected">
    {% else %}
    <a href="/maizeGRN/download" class="UnderlineNav-item">
    {% endif %}
      <i class="fas fa-file-download fa-lg fa-fw"></i>Download
    </a>
    
    {% if page.category == 'faq' %}
    <a href="/maizeGRN/faq" class="UnderlineNav-item selected">
    {% else %}
    <a href="/maizeGRN/faq" class="UnderlineNav-item">
    {% endif %}
      <i class="fas fa-question-circle fa-lg fa-fw"></i>FAQ
    </a>
    
    {% if page.category == 'links' %}
    <a href="/maizeGRN/links" class="UnderlineNav-item selected">
    {% else %}
    <a href="/maizeGRN/links" class="UnderlineNav-item">
    {% endif %}
      <i class="fas fa-link fa-lg fa-fw"></i>Links
    </a>
  </div>

  <div class="UnderlineNav-actions">
    <a href="https://maizeumn.github.io">
    SpringerLab
    </a> <object  class='v-align-middle' data="/maizeGRN/images/logo.svg" type="image/svg+xml" style="max-width: 20px; max-height: 20px"></object>
  </div>
</nav>

