{% include header.html %}

<div class="container-lg py-6 p-responsive text-center">
  {% include navbar.html%}

	<div class="box-shadow-medium f4 mt-3 overflow-hidden no-underline text-left">
	  <div class="Box-header">
		<i class="fas fa-question-circle fa-fw"></i> Frequently Asked Questions
	  </div>
	  <ul>
		{% for faq in site.data.faq %}
		<li class="Box-row">
			<details class="details-overlay">
			  <summary>{{ faq.Q }}</summary>
			  <div class="position-relative bg-white p-3 border" style="z-index: 100">{{ faq.A }}</div>
			</details>
		</li>
		{% endfor %}
	  </ul>
	</div>

  <div class="box-shadow-medium f4 mt-3 overflow-hidden no-underline text-left">
	  <div class="Box-header">
		<i class="fas fa-link fa-fw"></i> Useful Links
	  </div>
    <div class="Box-body">
    
      <div class="d-flex flex-wrap gutter-condensed flex-justify-start">
        {% for link in site.data.links %}
        <div class="col-12 col-md-6 col-lg-3 mb-2">
          {% include card_link.html %}
        </div>
        {% endfor %}
      </div>

    </div>
  </div>


  {% include copyright.html %}

</div>

{% include footer.html %}
